<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Burgers</title>
    <link rel="stylesheet" src="/assets/css/style.css">
</head>
<body>
    {{{ body }}}

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/js/script.js"></script>
</body>
</html>