<h1>Eat Da Burger!</h1>

<div class="row justify-content-center">
  <img src="/assets/images/burger.gif" alt="Burger GIF"/>
</div>

<div id="listed-burgers" class="row justify-content-center">

   <div class="col-4">
    <h2>Burgers to Eat!</h2>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
  </div>

  <div class="col-4">
    <h2>Devoured Burgers!</h2>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
  </div>
  
</div>

<div class="row justify-content-center">

  <form class="create-form">
    <h2>Add a Burger</h2>
    <div class="form-group">
      <label for="ca"></label>
      <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
      <label for="devoured"></label>
      <input type="radio" name="devoured" value="1" checked> Devoured!
      <input type="radio" name="devoured" value="0"> Ready to be eaten!
      <button type="submit" style="float: right; margin-left:1rem;">Add Burger</button>
    </div>
  </form>
</div>